<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="MicroServices.Client" version="1.0.0" targetFramework="net461" />
  <package id="MicroServices.Models" version="1.0.1" targetFramework="net461" />
  <package id="NUnit" version="3.7.1" targetFramework="net461" />
  <package id="NUnit3TestAdapter" version="3.8.0" targetFramework="net461" />
  <package id="RestSharp" version="105.2.3" targetFramework="net461" />
</packages>